{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    Error
{% endblock %}

{% block body %}
    <!-- Maybe make it more prettier later -->
    <!-- <h1>Error</h1>
    <h2> Your requested page was not found!</h2> -->
    <!-- Very weird that i can't applied CSS through styles.css -->
    <div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
        <img src="{% static 'images/cs50cat.png' %}" alt="CS50 Cat" >
    </div>
    <h2 style="text-align: center;">Your requested page was not found!</h2>

{% endblock %}